<div class="container-fluido">
    <div class="productos-container">
        @for (prod of productos; track prod.id) {
        <div class="producto-card">
            <div class="img-wrapper">
                <img [src]="prod.fotoUrl" class="producto-img" [alt]="prod.nombre">
            </div>

            @if (productoEditandoId === prod.id) {
            <div class="admin-editor">
                <div class="form-grupo">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="nombreEdicion">
                </div>
                <div class="form-grupo">
                    <label>Precio</label>
                    <input type="number" [(ngModel)]="precioEdicion">
                </div>
                <div class="form-grupo">
                    <label>Foto</label>
                    <input type="url" [(ngModel)]="fotoEdicion">
                </div>
                <div class="form-grupo">
                    <label>Especificaciones</label>
                    <textarea rows="3" [(ngModel)]="specsEdicion"></textarea>
                </div>
                <div class="acciones-editor">
                    <button class="btn-editar-admin" (click)="guardarEdicion(prod)">Guardar</button>
                    <button class="btn-cancelar-admin" (click)="cancelarEdicion()">Cancelar</button>
                </div>
            </div>
            } @else {
            <div class="info-body">
                <div class="info-content">
                    <h4>{{ prod.nombre }}</h4>
                    <p class="precio">${{ prod.precio | number:'1.0-0' }}</p>
                    <ul>
                        @for (item of prod.especificaciones; track $index) {
                        <li>{{ item }}</li>
                        }
                    </ul>
                </div>
                <div class="fade-overlay-card"></div>
            </div>

            <div class="acciones-card">
                <button class="btn-comprar" [routerLink]="['/articulo', prod.id]">
                    Ver Detalle
                </button>
                @if (esAdmin) {
                <div class="acciones-admin-card">
                    <button class="btn-editar-admin" (click)="iniciarEdicion(prod)">Editar</button>
                    <button class="btn-cancelar-admin" (click)="ocultarProducto(prod)">Eliminar</button>
                </div>
                }
            </div>
            }
        </div>
        }
    </div>
</div>