@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #1a1a1a;
  /* ESPACIO PARA LOS TABS: Ajusta según la altura de tu barra inferior */
  padding-bottom: 90px; 
  overflow-x: hidden;
  margin-bottom: 50px;
}

.container-fluido {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}